h2(style={'margin-top':'2em'}) #{appName}
table.ui.inverted.celled.selectable.table
  thead
    tr
      th.collapsing Project
      th.collapsing Suite
      th.collapsing PR
      th.collapsing Date
      th.collapsing Result 
      th Description
  tbody
