h2(style={'margin-top':'2em'}) #{projectName}
table.ui.inverted.celled.selectable.table
  thead
    tr
      th.collapsing Suite
      th Description
      th.collapsing RunId
      th.collapsing Result 
      th.collapsing Comparison date
      th.collapsing
  tbody
